a:link {
    color: black;
}
#english {
    color: blue;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

.cima {
    text-align: right;
}
.usuario {
    border-radius: 50%;
}


.meio {
    margin: 200px 50px 200px 50px;
    text-align: center;
}
#campo_de_pesquisa {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 584px;
}

.baixo {
    
}
.parte_esquerda {
    text-align:left;
}
.parte_direita {
    text-align: right;
}