a:link {
    color: black;
}
#english {
    color: blue;
}

.cima {
    text-align: right;
}
.usuario {
    border-radius: 50%;
}


.meio {
    margin: 200px 50px 200px 50px;
    text-align: center;
}


.baixo {
    
}
.parte_esquerda {
    text-align:left;
}
.parte_direita {
    text-align: right;
}